.card-button {
  cursor: pointer;
  border: none;
  padding: 0;
  transition: 200ms ease-in-out;
  box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.3);
}

.card-img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-img-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.card-button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
